body {
  font-size: 16px;
  background-color: #F2F2F2;
  color: #333;
  font-family: Open Sans,Arial,Helvetica,sans-serif,SimSun;
  line-height: 1.3;
  position: relative;  
  top: 0px;
  overflow-x: scroll; 
}
.download{
  display: block;
  text-align: center;
  width: 100%;
}
.clickable{
  cursor: pointer;
}
.markerDetails{
  text-align: left;
}
.emergencyContact,.medicalDetails{
  padding: 0;
  margin-top: 5px;
}
.emergencyContact li{
  list-style: none;
  margin-bottom: 5px;
}
.icon-responser{
  width: 48px;
  height: 48px;
  margin-right: 15px;
}
.icon-user{
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
.btn-assign,.btn-assign:hover,.btn-assign:focus{
  width: 100%;
  color: #fff;
  background: navy;
}

hr{
  margin: 10px 0;
}
.alertList{
  position: absolute;
  right: 0;
  top:0;
  width: 20%;
  height: 50%;
  opacity: 0.9;
  padding: 15px;
  background: transparent;
}
.alertList img.list-icon{
  width: 24px;
  height: 24px;
  margin-right: 0px;
}

.responserList{
  margin-top: 20px;
  opacity: 0.9;
  background: transparent;
  color: #0066ff;
}
.responserList .list-group-item{
  background-color: #0066ff;
  color: white;
}
.listHeader{
  background-color: #0066ff;
  color: white;
  text-align: center;
}

.list-group-item{
  border: 0;
}
.map {
  height: 500px;    
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}